
    <div class="outer-cont">
        
        <img class="cover-img"
            src="https://res.cloudinary.com/storage-for-demo-apps/image/upload/v1662051171/constant%20site%20assets/forest-howling-wolf-wolves-1680x1050-nature-forests-hd-art-wallpaper-preview_wi64gm.jpg">
        <h2>Our Vision</h2>
        <p class="about-text">
            We at Apex Pets want to turn your dream into a reality. We believe that with the proper preparation,
            ferocious beasts can make great and loyal companions. There is no better way to give yourself an aura of
            beauty and power than to surround yourself with the most awe-inspiring creatures on earth.
             </p>

        <p class="about-text"> Our team of pros will help you find the perfect companion, and walk you through the process of constructing
            the necessary security measurements to securely contain your new best friend. We will connect you to our
            meat vendors who will be able to supply and deliver the appropriate dietary needs of your pet at a
            reasonable price. In addition, our top-notch legal team will help you circumvent all of the hurdles that
            your provincial laws may pose during this process.
            </p>

        <p class="about-text-end">Our best hunters await your order!</p>
        
    </div>
